<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gzb.postsupervisionrobots.mapper.PythonScriptMapper">

    <select id="selectByFileName" resultType="com.gzb.postsupervisionrobots.entity.Credentials">
        SELECT * FROM credentials
        WHERE file_name IN
        <foreach collection="fileNameList" item="fileName" open="(" separator="," close=")">
            #{fileName}
        </foreach>
    </select>
</mapper>